<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles.css">
    <title>Home</title>
</head>
<body style="padding-left: 10px; padding-right: 10px;">
    <div style="padding-top: 10px;">
        <form action="/logout" method="get">
            <button type="submit" class="btn btn-danger" style="float: right;">Log Out</button>
        </form>
    </div>
    <h1>Welcome to your portfolio, <span data-th-text="${name}"></span></h1>

    <div style="font-family: 'Trebuchet MS' sans-serif; padding-left: 20px;">
    <table data-th-unless="${#lists.isEmpty(stocks)}">
        <tr>
            <td style="vertical-align: top;">
                <h2 style="font-weight: bold; font-size: 50px;">US$<span data-th-text="${#numbers.formatDecimal(assets, 1, 2)}" ></span>
                </h2>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Day's Gain: <span data-th-text="${#numbers.formatDecimal(day_gain, 1, 2)}"></span></h4>
                <h4>Total Gain: <span data-th-text="${#numbers.formatDecimal(total_gain, 1, 2)}"></span></h4>
            </td>
        </tr>
    </table>
    </div>

    <h4 data-th-if="${#lists.isEmpty(stocks)}" style="text-align: center;">
        Your portfolio is empty
    </h4>

    <div class="row" style="padding-bottom: 10px;">
        <div class="table-responsive col-md-5 padding-0">
        <table data-th-unless="${#lists.isEmpty(stocks)}" 
            class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Share Price</th>
                    <th>Date Traded</th>
                </tr>
            </thead>
            <tbody>
                <tr data-th-each="stock: ${stocks}">
                    <td><span data-th-text="${stock.symbol}"></span></td>
                    <td><span data-th-text="${stock.shares}"></span></td>
                    <td><span data-th-text="${stock.share_price}"></span></td>
                    <td><span data-th-text="${stock.date_traded}"></span></td>
                </tr>
            </tbody>
        </table>
        </div> 
        <div class="table-responsive col-md-7 padding-0">
        <table data-th-unless="${#lists.isEmpty(quotes)}"
            class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Last Price</th>
                    <th>Previous Close Price</th>
                    <th>Change</th>
                    <th>Change %</th>
                    <th>Total Change</th>
                    <th>Total Change %</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr data-th-each="quote: ${quotes}">
                    <td><span data-th-text="${#numbers.formatDecimal(quote.current_price, 1, 2)}"></span></td>
                    <td><span data-th-text="${quote.previous_close_price}"></span></td>
                    <td><span data-th-text="${quote.change}"></span></td>
                    <td><span data-th-text="${#numbers.formatDecimal(quote.percent_change, 1, 2)}"></span>%</td>
                    <td><span data-th-text="${#numbers.formatDecimal(quote.total_change, 1, 2)}"></span></td>
                    <td><span data-th-text="${#numbers.formatDecimal(quote.total_change_percentage, 1, 2)}"></span>%</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="col-md-12 text-center">
        <form action="/home/edit" method="post">
            <button type="submit" class="btn btn-success">Edit porfolio</button>
        </form>
    </div>
</body>
</html>