<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
</head>
<body>
    <h1>Welcome to your portfolio, <span data-th-text="${name}"></span></h1>

    <h2>Total Assets: $<span data-th-text="${assets}"></span></h2>
    <h3>Day Gain: <span data-th-text="${day_gain}"></span></h3>
    <h3>Total Gain: <span data-th-text="${total_gain}"></span></h3>


    <h3 data-th-if="${#lists.isEmpty(stocks)}" class="mt-3vh">
        You have no stocks added!
    </h3>

    <div>
    <table style="float: left;" data-th-unless="${#lists.isEmpty(stocks)}" border="1" class="mt-3vh">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Company Name</th>
                <th>Shares</th>
                <th>Share Price</th>
                <th>Date Traded</th>
            </tr>
        </thead>
        <tbody>
            <tr data-th-each="stock: ${stocks}">
                <td><span data-th-text="${stock.symbol}"></span></td>
                <td><span data-th-text="${stock.company_name}"></span></td>
                <td><span data-th-text="${stock.shares}"></span></td>
                <td><span data-th-text="${stock.share_price}"></span></td>
                <td><span data-th-text="${stock.date_traded}"></span></td>
            </tr>
            
        </tbody>

    </table>
    <table style="float: left;" data-th-unless="${#lists.isEmpty(quotes)}" border="1" class="mt-3vh">
        <thead>
            <tr>
                <th>Last Price</th>
                <th>Previous Close Price</th>
                <th>Change</th>
                <th>Change %</th>
                <th>Total Change</th>
                <th>Total Change %</th>
                
            </tr>
        </thead>
        <tbody>
            <tr data-th-each="quote: ${quotes}">
                <td><span data-th-text="${quote.current_price}"></span></td>
                <td><span data-th-text="${quote.previous_close_price}"></span></td>
                <td><span data-th-text="${quote.change}"></span></td>
                <td><span data-th-text="${quote.percent_change}">%</span></td>
                <td><span data-th-text="${quote.total_change}"></span></td>
                <td><span data-th-text="${quote.total_change_percentage}">%</span></td>
            </tr>
        </tbody>
    </table>
    </div>
    <div>
    <form method="POST" action="/home/edit">
        <button type="submit">Edit porfolio</button>
    </form>
</div>
</body>
</html>